.ft-14 {
    font-size: 14pt;
}

.ft-18 {
    font-size: 18pt;
}

.imagemDisplay {
    flex-flow: wrap!important;
}

.cardProduto img {
    width: 80%;
}

.mx-10{
  margin-left: 25%;

}

.carrinho{
  transition: all 0.2s;
}

.carrinho:hover{
  transition: all 0.2s;
  transform: scale(1.1);
  color: rgb(21, 189, 201);
}
