<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="/produtoCliente">Livraria Optimus</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="textoNavbar">

      <div class="d-flex justify-content-center align-items-center" style="width: 60%">
        <input [(ngModel)]='pesquisa' class="form-control" type="search" placeholder="Pesquisar" aria-label="Pesquisar" style="width:150%">
        <i class="fa fa-search fa-1x ml-2" aria-hidden="true" type="submit" (click)='pesquisar()'></i>
      </div>


      <i class="fa fa-user-circle-o fa-2x ml-5" aria-hidden="true">
        <span class="navbar-text ml-2" *ngIf='!logado()' style="font-size: 16px;">
        Olá, seja bem vindo(a)!<br/>
        <a class="link-entre" routerLink="/entrar">Entre</a>
        ou <a class="link-cadastre" routerLink="/cadastrar">cadastre-se</a>
      </span>

      <span class="navbar-text ml-2" *ngIf='logado()' style="font-size: 16px;">
        Olá,
        <a [routerLink]="['/alterar-usuario', id]">
          {{nome}}
        </a> <br/>
        <a class="link-entre" (click)='sair()'>Sair</a>
      </span>

    </i>

      <a routerLink="/carrinho">
        <i class="fa fa-cart-plus fa-3x" aria-hidden="true"></i>
      </a>

    </div>
  </nav>

<nav class="d-flex justify-content-center" style="background-color: #3AF0A8;">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/entrar-adm">Entra Adm</a>
    </li>
    <li class="nav-item" *ngIf="homeadm()">
      <a class="nav-link" routerLink="/home-adm">Home Funcionários</a>
    </li>
  </ul>
</nav>
