.navbar {
    background-color: #3AF0A8;
    height: 120px;
}

.nav-link{
    color: black;
}
.nav-link:hover{
    background-color: #33c88d;
}

.navbar-brand {
    color: #fff;
    font-size: 35pt;
    margin-left: 6%;
    transition: all .2s;
}

.navbar-brand:hover {
    color: #ebe017;
}

.navbar-text {
    margin-right: 17%;
}

.fa-cart-plus {
    margin-right: 4%;
}

.fa-user-circle-o {
    margin-right: 4%;
}

.link-entre {
    margin-left: 7%;
}

.form-control {
    margin-left: 4%;
    height: 30%;
    width: 30%;
}

.fa-search {
    font-size: 125%;
}


