 .navbar {
    background-color: #3AF0A8;
}

.nav-link{
    color: black;
}
.nav-link:hover{
    background-color: #33c88d;
}

.navbar-brand {
    color: #fff;
    font-size: 35pt;
    margin-left: 6%;
    transition: all .2s;
}

.navbar-brand:hover {
    color: #ebe017;
}


.fa-user-circle-o {
    margin-right: 4%;
}


.form-control {
    margin-left: 4%;
    height: 30%;
    width: 100%;
}


