<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="/produto">Livraria Optimus</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <input [(ngModel)]='pesquisa' class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
    <i class="fa fa-search fa-1x" aria-hidden="true" type="submit" (click)='pesquisar()'></i>



    <div class="collapse navbar-collapse" id="textoNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">     <span class="sr-only">(Página atual)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">    </a>
        </li>
      </ul>

      <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>

      <span class="navbar-text" *ngIf='!logado()'>
        Olá, seja bem vindo(a)!<br/>
        <a class="link-entre" routerLink="/entrar">Entre</a>
        ou <a class="link-cadastre" routerLink="/cadastrar">cadastre-se</a>
      </span>

      <span class="navbar-text" *ngIf='logado()'>
        Olá, {{nome}} <br/>
        <a class="link-entre" (click)='sair()'>Sair</a>

      </span>

    </div>

    <i class="fa fa-cart-plus fa-3x" aria-hidden="true"></i>

  </nav>

<nav class="d-flex justify-content-center" style="background-color: #3AF0A8;">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/produto">Produto Administrador</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/produtoCliente">Produto Cliente</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/cadastrarProduto">Cadastrar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/listaProdutos">Todos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/entrar-adm">Entra Adm</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/cadastrar-adm">Cadastra funcionario adm</a>
    </li>
  </ul>
</nav>
