<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand">Livraria Optimus</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
    <i class="fa fa-search fa-1x" aria-hidden="true" type="submit"></i>



    <div class="collapse navbar-collapse" id="textoNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">     <span class="sr-only">(Página atual)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">    </a>
        </li>
      </ul>

      <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>

      <span class="navbar-text">
        Olá, seja bem vindo(a)!<br/>
        <a class="link-entre" href="#">Entre</a> ou <a class="link-cadastre" href="#">cadastre-se</a>
      </span>
    </div>

    <i class="fa fa-cart-plus fa-3x" aria-hidden="true"></i>

  </nav>
