<h3 class="text-center background text-black py-2">Usuários Ativos</h3>
<div class="mb-2 d-flex justify-content-center"></div>


<div class="col-sm-4">
    <div class="card">
      <div class="card-body p-3">
        <h5 class="card-title m-0">FELIPE DA SILVA</h5> <!-- NOME + SOBRENOME -->
        <p class="m-0">ESTOQUISTA</p> <!-- CARGO -->
      <br>
          <p class="text-muted">(11)9 4445-6661</p> <!-- TELEFONE -->
          <p class="text-muted">23/04/1994</p> <!-- NASCIMENTO -->
          <p class="text-muted">R$ 1.500,00</p> <!-- SALARIO -->
          <p class="text-muted">felipe.silva@est.optimus.com</p> <!-- EMAIL EMPRESARIAL -->

          <button type="button" class="btn btn-danger btn-sm">Desabilitar</button>
      </div>
    </div>
  </div>


  <br>
  <br>
  <br>
  <p class="card-text border-top border-dark pt-2"></p>

<h3 class="mt-5 mb-0 text-center background text-black py-2">Usuários Inativos</h3>

<div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title m-0">ANTONIA ANTARES</h5> <!-- NOME + SOBRENOME -->
        <p class="m-0">VENDEDOR(A)</p> <!-- CARGO -->
      <br>
        <p class="text-muted">(11)9 98745-2202</p> <!-- TELEFONE -->
          <p class="text-muted">15/01/1980</p> <!-- NASCIMENTO -->
          <p class="text-muted">R$ 2.300,00</p> <!-- SALARIO -->
          <p class="text-muted">antonia.antares@ven.optimus.com</p> <!-- EMAIL EMPRESARIAL -->
           
        <button type="button" class="btn btn-success btn-sm">Ativar</button>
      </div>
    </div>
  </div>

  