<h3 class="text-center text-white py-3" style="background-color: #0f2058; padding-bottom: 5px; font-weight: 700;">RESUMO DA COMPRA
</h3>
<div class="container-fluid">

<!--Informações de entrega-->
<div class="row d-flex justify-content-center mt-5">
    <div class="col-md-6">
        <h4 class="text-center mb-5">ENDEREÇO DE ENTREGA</h4>
        <div class="form">
            <div class="form-row d-flex justify-content-center mb-3 fc-verde font-weight-bold">
                <div class="col-md-6">
                    <label for="rua">Rua</label>
                    <input [(ngModel)]='rua' name="rua" type="text" class="form-control" id="rua"
                      placeholder="Rua Dois" readonly>
                </div>
                <div class="col-md-2">
                    <label for="numero">Número</label>
                    <input [(ngModel)]='numero' type="text" class="form-control" name="numero" id="numero" placeholder="Ex. 100" readonly>
                </div>
            </div>
            <div class="form-row d-flex justify-content-center mb-3 fc-verde font-weight-bold">
                <div class="col-md-4">
                    <label for="bairro">Bairro</label>
                    <input [(ngModel)]='bairro' type="text" class="form-control" name="bairro" id="bairro" placeholder="Ex. Jardim Oriental" readonly>
                </div>
                <div class="col-md-4">
                    <label for="cep">CEP</label>
                    <input [(ngModel)]='cep' type="text" class="form-control" name="cep" id="cep" placeholder="00000-000" readonly>
                </div>
            </div>

            <div class="form-row justify-content-center mb-3 fc-verde font-weight-bold">
                <div class="col-md-3">
                    <label for="telefone">Telefone</label>
                    <input [(ngModel)]="telefone" type="text" class="form-control" name="telefone" id="telefone" placeholder="(11) 9 9999-9999" readonly>
                </div>
                <div class="col-md-5">
                    <label for="nomeEntrega">Nome destinatário</label>
                    <input [(ngModel)]="nomeDestinatario" type="text" class="form-control" name="nomeEntrega" id="nomeEntrega" placeholder="Ex. João da Silva" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mr-3">
                <div class="card" *ngIf="logado()">
                    <div class="card-body ">
                      <h5 class="card-title">{{ usuario.rua }},{{ usuario.numero }}</h5>
                      <button type="submit" class="btn btn-primary" (click)="selecEndereco()">Selecionar</button>
                    </div>
                </div>
            </div>
            <div class="row col-md-7 mb-3 ml-1">
                <div class="mr-3" *ngFor='let endereco of listaEnderecos'>
                  <div class="card" *ngIf="enderecoAdicional(endereco.id_cliente)">
                    <div class="card-body ">
                      <h5 class="card-title">{{ endereco.rua }},{{ endereco.numero }}</h5>
                      <button type="submit" class="btn btn-primary" (click)="selecionarEndereco(endereco.id_endereco)">Selecionar</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>

    <!--/Informações de entrega-->
    <!--Itens do carrinho-->
    <div class="col-md-6">
        <h4 class="text-center mb-5">CARRINHO</h4>
        <div class="row d-flex justify-content-center mt-5">
            <div style="width: 600px; height: 260px; overflow-y: scroll;">
                <div *ngFor="let produto of produto" class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-3 d-flex align-items-center">
                            <img width="100px" src={{produto.imgPrincipal}} alt="...">
                        </div>
                        <div class="col-md-5">
                            <div class="card-body">
                                <h5 class="card-title">{{produto.nome}}</h5>
                                <p class="card-text"> {{produto.preco | currency:'BRL'}}</p>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex align-items-center justify-content-center">
                            <div class="columns">
                                <label for="">Quantidade</label>
                                <div class="row">
                                    <p class=" btn btn-info" (click)="addToCarrinho(produto)">+</p>
                                    <p class=" btn btn-secondary">{{contadorProduto(produto)}}</p>
                                    <p class=" btn btn-info" (click)="apagarItem(produto)">-</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<!--/Itens do carrinho-->
<!--Informações de pagamento-->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-11">
            <hr class="mt-5">
        </div>
    </div>
</div>

<div class="col-md-12">
    <h4 class="text-center mt-3 mb-5">PAGAMENTO</h4>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active text-center" id="cartao-tab" data-toggle="tab" href="#cartao"
                        role="tab" aria-controls="cartao" aria-selected="true">
                        <p class="fc-verde font-weight-bold d-md-block d-none teste">Cartão de Crédito </p>
                    </a>
                </li>
            </ul>
            <div class="tab-content mb-5" id="myTabContent">
                <div class="tab-pane fade show active" id="cartao" role="tabpanel" aria-labelledby="cartao-tab">
                    <div class="container col-md-12">
                        <div class="col-md-12 d-flex flex-column justify-content-center">
                            <form>
                                <h5 class="text-center mt-5">Dados do cartão</h5>
                                <div
                                    class="form-row d-flex justify-content-center mt-3 mb-3 fc-verde font-weight-bold">
                                    <div class="col-md-11">
                                        <label for="numeroCartao">Número do cartão</label>
                                        <input [(ngModel)]="numeroCartao" type="text" name="numeroCartao" id="numeroCartao"
                                            class="form-control" placeholder="Número do cartão">
                                    </div>
                                </div>
                                <div class="form-row d-flex justify-content-center mb-3 fc-verde font-weight-bold">
                                    <div class="col-md-11">
                                        <label for="nomeCartao">Nome</label>
                                        <input [(ngModel)]="nomeCartao" type="text" name="nomeCartao" id="nomeCartao" class="form-control"
                                            placeholder="Nome impresso no cartão">
                                    </div>

                                </div>
                                <div class="form-row d-flex justify-content-center fc-verde font-weight-bold">
                                    <div class="col-md-3">
                                        <label for="cvv">CVV</label>
                                        <input [(ngModel)]="cvv" type="text" name="cvv" id="cvv" class="form-control"
                                            placeholder="CVV">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="validade">Validade</label>
                                        <input [(ngModel)]="validade" type="text" name="validade" id="validade" class="form-control"
                                            placeholder="00/00">
                                    </div>
                                    <div class="col-md-5">
                                        <label for="cpf">CPF</label>
                                        <input [(ngModel)]="cpf" type="text" name="cpf" id="cpf" class="form-control"
                                            placeholder="CPF do titular">
                                    </div>

                                </div>
                            </form>
                            <div class="row d-flex justify-content-center mt-4">
                                <div class="col-md-11 d-flex justify-content-between ">
                                    <p class="fs-16 font-weight-bold">TOTAL</p>
                                    <p class="fs-16 font-weight-bold ng"> {{ calculaTotal() | currency:'BRL' }}</p>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <button class="btn btn-success mt-3 btn-lg" (click)="finalizarCompra()">
                                    Finalizar
                                    compra </button>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/Informações de pagamento-->
    </div>
