<div class="container col-md-12 d-flex justify-content-center">

  <div class="formulario col-md-7 border border-secondary p-5">
    <h3 class="mb-4">Cadastrar Produto</h3>
    <form>
      <div class="row">
        <div class="form-group col-md-10">
          <label for="exampleFormControlInput1">Titulo</label>
          <input [(ngModel)]='titulo' [(ngModel)]='produto.nome' name="titulo" type="titulo" class="form-control"
            id="exampleFormControlInput1" placeholder="Titulo do livro" (keyup)="validaTitulo()">
          <div class="text-danger">{{ alertaTitulo }}</div>
        </div>

        <div class="form-group col-md-2">
          <label for="inputEstado">Estrelas</label>
          <select id="inputEstrelas" class="form-control" (change)='estrelas($event)'>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3
            </option>
            <option value=4>4
            </option>
            <option value=5>5
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Autor</label>
        <input [(ngModel)]='autor' [(ngModel)]='produto.autor' name="autor" type="autor" class="form-control"
          id="exampleFormControlInput1" placeholder="Autor do livro" (keyup)="validaAutor()">
        <div class="text-danger">{{ alertaAutor }}</div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Editora</label>
        <input [(ngModel)]='editora' [(ngModel)]='produto.editora' name="editora" type="editora" class="form-control"
          id="exampleFormControlInput1" placeholder="Editora do livro" (keyup)="validaEditora()">
        <div class="text-danger">{{ alertaEditora }}</div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Descrição</label>
        <textarea [(ngModel)]='describe' [(ngModel)]='produto.descricao' name="descricao" class="form-control"
          id="exampleFormControlTextarea1" rows="4" (keyup)="validaDescribe()"></textarea>
        <div class="text-danger">{{ alertaDescribe }}</div>

      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label for="exampleFormControlInput1">Valor</label>
          <input [(ngModel)]='produto.valor' name="valor" type="valor" class="form-control"
            id="exampleFormControlInput1" placeholder="0,00">
        </div>


        <div class="form-group  col-md-6">
          <label for="exampleFormControlInput1">Estoque</label>
          <input [(ngModel)]='produto.estoque' name="estoque" type="estoque" class="form-control"
            id="exampleFormControlInput1" placeholder="0">
        </div>
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Foto Principal</label>
        <input [(ngModel)]='produto.imgPrincipal' name="foto" type="foto" class="form-control"
          id="exampleFormControlInput1" placeholder="Link das fotos">
      </div>

    </form>

    <button class="btn btn-success mr-2" (click)='cadastrarProduto()'>Enviar</button>

    <button class="btn btn-danger">Cancelar</button>
  </div>

</div>
