<div class="container col-md-12 d-flex justify-content-center">

  <div *ngFor='let item of listaProduto'>


  <div class="card mr-5" style="width: 18rem;"  *ngIf="produtoAtivo(item.status)">

    <div>
      <img class="card-img-top" src="{{ item.imgPrincipal }}" alt="Imagem de capa do card">
      <div class="card-body">

        <div class="row d-flex justify-content-between">
          <h5 class="card-title mb-0 ml-3"> {{ item.nome }} </h5>
          <a [routerLink]=" ['/alterarProduto', item.id] ">
            <i class="fa fa-pencil-square-o mr-2" aria-hidden="true"></i>
          </a>
        </div>

        <p>{{ item.estrelas }} <i class="fa fa-star" aria-hidden="true"></i></p>
        <p class="text-muted m-0">Estoque {{ item.estoque }}</p>



        <p class="text-muted m-0">{{ item.autor }}</p>
        <p class="text-muted">{{ item.editora }}</p>

        <p class="card-text"> {{ item.descricao }} </p>
        <p class="card-text"> {{ item.valor | currency: 'BRL'}} </p>
      </div>
    </div>
  </div>
  
</div>

</div>


