<div class="container col-md-10 mb-5">
  <div class="row col-md-12  mt-3">
    <h2>Pedido #{{ pedido.id }}</h2>
  </div>

  <hr style="border-top: 1px solid #3AF0A8;">
    <div class="row mt-4 d-flex justify-content-center">

      <div class="col-md-6">
        <div class="columns">

          <div class="d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list mr-2" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg> <b style="font-size:17px">Dados do Pedido</b>
        </div>

        <div class="mt-4">
          <p><b style="color: #666666; font-size:15px">Data de Realização do Pedido:  </b>{{ pedido.data | date: 'dd/MM/yyyy HH:mm'}}</p>
          <p><b style="color: #666666; size:15px">Forma de Pagamento:   </b>{{pedido.tipoPagamento}}</p>
          <p><b style="color: #666666; size:15px">Situação: </b>{{ pedido.status }}</p>

        </div>


      </div>
      </div>

      <div class="col-md-6">
        <div class="columns">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill mr-2" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
          </svg><b style="font-size:17px">Endereço de Entrega</b>
          <p><b></b></p>
          <p ><b style="color: #666666; size:15px">Rua: </b>{{ pedido.rua }}, {{ pedido.numero }}  - {{ pedido.bairro }}</p>
          <p ><b style="color: #666666; size:15px">CEP:</b> {{ pedido.cep }}</p>
          <p ><b style="color: #666666; size:15px">Cidade: </b>{{ pedido.cidade }}</p>
      </div>
      </div>

    </div>




    <div class="row col-md-12 mt-4 mb-3">
      <div class="col-md-12 d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-truck mr-2" viewBox="0 0 16 16">
          <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
        </svg><b style="font-size:18px">Detalhes do Pedido</b>
      </div>
    </div>

    <hr style="border-top: 1px solid #3AF0A8;">

    <div class="container" style="overflow-x: auto;">
      <table class="table" >
        <thead>
            <tr class="text-white" style="background-color:#3358d3">
                <th scope="col">Produto</th>
                <th scope="col">Valor Unit.</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of pedido.itens" style="border:1px solid #3358d3">
                <td>{{ item.produto.nome }}</td>
                <td>{{ item.produto.valor  | currency:'BRL'  }}</td>
                <td>{{ item.quantidade }}</td>
                <td>{{ item.produto.valor * item.quantidade  | currency:'BRL'  }}</td>
            </tr>

            <tr style="border:1px solid #3358d3">
                <td>Frete</td>
                <td>-</td>
                <td>-</td>
                <td>{{ pedido.frete  | currency:'BRL'}}</td>
            </tr>
            <tr class="text-white" style="background-color:#3358d3;">
                <td><b>Total</b></td>
                <td>-</td>
                <td>-</td>
                <td><b>{{ pedido.valor | currency:'BRL' }}</b></td>
            </tr>
        </tbody>
    </table>
    </div>



</div>
