<div class="container col-md-12 d-flex justify-content-center bg-img">

    <div class="form-container col-md-7 mt-4 mb-4 p-4">
      <h3 class="mb-3 border-l pl-2">Cadastro Funcionários</h3>
      <form>
  
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="nome">Nome</label>
            <input [(ngModel)]='nome' [(ngModel)]="usuario.nome" name="nome" type="text" class="form-control" id="nome" placeholder="Digite o nome do funcionário" (keyup)="validaNome()">
            <div class="mt-2 text-danger">{{ alertaNome }}</div>
          </div>
  
          <div class="form-group col-md-6">
            <label for="sobrenome">Sobrenome</label>
            <input [(ngModel)]='sobrenome' [(ngModel)]='usuario.sobrenome' name="sobrenome" type="text" class="form-control" id="sobrenome" placeholder="Digite o sobrenome do funcionário" (keyup)="validaSobrenome()">
            <div class="text-danger">{{ alertaSobrenome }}</div>
          </div>
        </div>
  
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="rg">RG</label>
            <input [(ngModel)]='rg' [(ngModel)]='usuario.rg' name="rg" type="text" class="form-control" id="rg" placeholder="Digite o número do RG" (keyup)="validaRg()">
            <div class="text-danger">{{ alertaRg }}</div>
          </div>
  
          <div class="form-group col-md-4">
            <label for="cpf">CPF</label>
            <input [(ngModel)]='cpf' [(ngModel)]='usuario.cpf' name="cpf" type="text" class="form-control" id="cpf" placeholder="Digite o número do CPF" (keyup)="validaCpf()">
            <div class="text-danger">{{ alertaCpf }}</div>
          </div>
  
          <div class="form-group col-md-4">
            <label for="telefone">Telefone</label>
            <input [(ngModel)]='telefone' [(ngModel)]='usuario.telefone' name="telefone" type="text" class="form-control" id="telefone" placeholder="(99) 9 99999-9999" (keyup)="validaTelefone()">
            <div class="text-danger">{{ alertaTelefone }}</div>
          </div>
        </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="rua">Rua</label>
            <input [(ngModel)]='rua' name="rua" type="text" class="form-control" id="rua" placeholder="Rua Dois" (keyup)="validaRua()">
            <div class="text-danger">{{ alertaRua }}</div>
        </div>

        <div class="form-group col-md-2">
            <label for="numero">Número</label>
            <input [(ngModel)]='numero' name="numero" type="text" class="form-control" id="numero" placeholder="321" (keyup)="validaNumero()">
            <div class="text-danger">{{ alertaNumero }}</div>
        </div>

        <div class="form-group col-md-4">
            <label for="bairro">Bairro</label>
            <input [(ngModel)]='bairro' name="bairro" type="text" class="form-control" id="bairro" placeholder="Jardim Miranda" (keyup)="validaBairro()">
            <div class="text-danger">{{ alertaBairro }}</div>
        </div>
    </div>


    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="cep">CEP</label>
            <input [(ngModel)]='cep' name="cep" type="text" class="form-control" id="cep" placeholder="00000-000" (keyup)="validaCep()">
            <div class="text-danger">{{ alertaCep }}</div>
        </div>

        <div class="form-group col-md-4">
            <label for="inputEstado">Estado</label>
            <select id="inputEstado" class="form-control">
              <option selected value="NADA">Selecione o Estado</option>
              <option value="AC">Acre</option>
              <option value="AL">Alagoas</option>
              <option value="AP">Amapá</option>
              <option value="AM">Amazonas</option>
              <option value="BA">Bahia</option>
              <option value="CE">Ceará</option>
              <option value="DF">Distrito Federal</option>
              <option value="ES">Espírito Santo</option>
              <option value="GO">Goiás</option>
              <option value="MA">Maranhão</option>
              <option value="MT">Mato Grosso</option>
              <option value="MS">Mato Grosso do Sul</option>
              <option value="MG">Minas Gerais</option>
              <option value="PA">Pará</option>
              <option value="PB">Paraíba</option>
              <option value="PR">Paraná</option>
              <option value="PE">Pernambuco</option>
              <option value="PI">Piauí</option>
              <option value="RJ">Rio de Janeiro</option>
              <option value="RN">Rio Grande do Norte</option>
              <option value="RS">Rio Grande do Sul</option>
              <option value="RO">Rondônia</option>
              <option value="RR">Roraima</option>
              <option value="SC">Santa Catarina</option>
              <option value="SP">São Paulo</option>
              <option value="SE">Sergipe</option>
              <option value="TO">Tocantins</option>
              <option value="EX">Estrangeiro</option>
            </select>
          </div>



        <div class="form-group col-md-4">
            <label for="cidade">Cidade</label>
            <input [(ngModel)]='cidade' name="cidade" type="text" class="form-control" id="cidade" placeholder="São Paulo" (keyup)="validaCidade()">
            <div class="text-danger">{{ alertaCidade }}</div>
        </div>

    </div>
        

        <div class="form-row">

            <div class="form-group col-md-4">
                <label for="nascimento">Nascimento</label>
                <input [(ngModel)]='nascimento' name="nascimento" type="text" class="form-control" id="nascimento" placeholder="dd/mm/aaaa" (keyup)="validaNascimento()">
            <div class="text-danger">{{ alertaNascimento }}</div>
              </div>

            <div class="form-group col-md-4">
              <label for="cargo">Cargo</label>
              <select id="cargo" class="form-control">
                <option selected value=0>Estoquista</option>
                <option value=1>Vendedor(a)</option>
              </select>
            </div>
       
          
            <div class="form-group col-md-4">
              <label for="salario">Salário</label>
              <input [(ngModel)]='salario' [(ngModel)]='usuario.salario' name="salario" type="text" class="form-control" id="salario" placeholder="0.000,00"  (keyup)="validaSalario()">
              <div class="text-danger">{{ alertaSalario }}</div>
            </div>
        </div>

  
        <div class="form-row">
            
          <div class="form-group col-md-6">
            <label for="email">E-mail pessoal</label>
            <input [(ngModel)]='email' [(ngModel)]='usuario.email' name="email" type="email" class="form-control" id="email" placeholder="Digite e-mail pessoal" (keyup)="validaEmail()">
            <div class="text-danger">{{ alertaEmail }}</div>
          </div>
        
            <div class="form-group col-md-6">
              <label for="email-empresarial">E-mail empresarial</label>
              <input [(ngModel)]='emailEmpresarial' name="emailEmpresarial" type="email" class="form-control" id="email-empresarial" placeholder="Digite e-mail empresárial" (keyup)="validaEmailEmpresarial()">
              <div class="text-danger">{{ alertaEmailEmpresarial }}</div>
            </div>
          </div>   
  
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" placeholder="Digite uma senha" (input)="confirmarSenha($event)">
          </div>
  
          <div class="form-group col-md-6">
            <label for="senhaConfirm">Confirmar Senha</label>
            <input [(ngModel)]='usuario.senha' name="senha" type="password" class="form-control" id="senhaConfirm" placeholder="Confirme a senha">
          </div>
        </div>
  
        <div class="mt-2 ml-2">
          <button type="submit" class="btn bg-optimus mr-4">Cadastrar</button>
          <button type="submit" class="btn btn-secondary" routerLink="/produtoCliente">Cancelar</button>
        </div>
  
      </form>
  
    </div>
  
  </div>
  
